.mainContentCategory{
    width: 97%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.categoryTitle{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #5c0d0d;
    font-size: large;
    cursor: pointer;
}
.subcategoryTitle{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #5c0d0d;
    font-size: large;
    cursor: pointer;
}
.categoryItemList{
    width: 70%;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

@media only screen and (max-width: 480px) {
    .categoryItemList {
        width: 97%;
        height: auto;
    }
}

.itemCategoryCard{
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 160px;
    border: solid 3px;
    border-color: #5c0d0d;
    border-radius: 7px;
    margin: 3px;
    cursor: pointer;
}

.productCategoryItemInfo{
    margin: 10px;
    color: #5c0d0d;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    margin: 5px;
    flex-direction: column;
}

.divPictureCategoryCover{
    width: 100%;
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px 4px 0px 0px;
}

.divBack{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #5c0d0d;
}
.categoryItemListSubcat{
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.itemCategoryCardSubcat{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    overflow: auto;
}

.subcategoryforMain{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow-x: auto;
    margin-top: 20px;
}

.subCatItemCard{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 2px;
    border: solid 3px;
    border-color: #5c0d0d;
    border-radius: 7px;
}

.divPictureCategoryCoverSub{
    width: 180px;
    height: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px 4px 0px 0px;
}

.paginator{
    margin-bottom: 70px;
}