.loginMainContent {
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 540px;
}

.loginContainer {
    margin-top: 40px;
    border: solid 3px;
    border-color: #5c0d0d;
    border-radius: 24px;
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #5c0d0d;
}

@media only screen and (max-width: 600px) {
    .loginContainer {
        border: none;
        width: 97%;
        min-width: auto;
    }
}

.loginLogo {
    width: 180px;
    margin-top: 30px;
}

.inputClass {
    margin-top: 30px;
    min-width: 200px;
    background-color: #5c0d0d;
    height: 32px;
    border-radius: 10px;
    color: #fff;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
    margin: 3px;
}
.inputsClassNumber{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-height: 400px;
}
.inputClassPhone{
    margin-top: 30px;
    width: 105px;
    background-color: #5c0d0d;
    height: 32px;
    border-radius: 10px;
    color: #fff;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
    margin: 3px;
}
.inputClassCode{
    margin-top: 30px;
    width: 90px;
    background-color: #5c0d0d;
    min-height: 36px;
    border-radius: 10px;
    color: #fff;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
    margin: 3px;
}
.inputsClass {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputButtonLogin {
    margin-top: 20px;
    background-color: #fff;
    border: solid 3px;
    border-color: #5c0d0d;
    color: #5c0d0d;
    border-radius: 10px;
    min-width: 220px;
    padding-left: 10px;
    padding-right: 10px;
    height: 32px;
    cursor: pointer;
}

.inputButtonLogin:hover {
    background-color: #5c0d0d;
    color: #fff;
    transition: 0.5s;
}

.inputButtonLogin:active {
    background-color: #fff;
    border-color: #fff;
    color: #5c0d0d;
}

.linksContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: x-small;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #5c0d0d;
    text-decoration: none;
    outline: none;
}

.enlaceScundario {
    margin-top: 10px;
}

a:link {
    text-decoration: none;
    color: #5c0d0d;
}


a:visited {
    text-decoration: none;
    color: #5c0d0d;
}


a:hover {
    text-decoration: none;
    color: #5c0d0d;
}


a:active {
    text-decoration: none;
    color: #5c0d0d;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.title{
    margin-top: 30px;
}

.checkBoxClass{
    margin-top: 10px;
    font-size: x-small;
}

.inputpasswordVisible{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
    margin-left: -10px;
}

.eyeInput{
    margin-left: -35px;
    color: #fff;
    cursor: pointer;
}