.contactanosContainer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #5c0d0d;
    flex-direction: column;
}

@media only screen and (max-width: 480px) {
    .contactanosContainer {
        width: 89%;
    }
}

.mainContentCarrito {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.divBack {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #5c0d0d;
}

.inputClassDialogProductArea {
    margin-top: 30px;
    width: 100%;
    background-color: #5c0d0d;
    border-radius: 10px;
    color: #fff;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
    margin: 6px;
    font-size: larger;
}

.inputClassDialogProduct {
    margin-top: 30px;
    width: 100%;
    background-color: #5c0d0d;
    height: 42px;
    border-radius: 10px;
    color: #fff;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
    margin: 6px;
}

.inputButtonEnter{
    width: 100%;
}

.inputButtonEnter {
    background-color: #fff;
    border: solid 3px;
    border-color: #5c0d0d;
    color: #5c0d0d;
    border-radius: 10px;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    height: 38px;
    cursor: pointer;
}

.inputButtonEnter:active {
    background-color: #fff;
    border-color: #fff;
    color: #5c0d0d;
}
.inputButtonEnter:hover {
    background-color: #5c0d0d;
    color: #fff;
    transition: 0.5s;
}
.formTitle{
    margin-bottom: 20px;
}