.carritoContainer{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5c0d0d;
    flex-direction: column;
}

.carritoItem{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carritoTitle{
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.mainContentCarrito{
    width: 100%;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.cardProductCarrito{
    width: 100%;
}

.productPicCarrito{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}

.divider{
    width: 100%;
    height: 2px;
    margin: 10px;
    background-color: #5c0d0d;
}

.carritoItemTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

@media only screen and (max-width: 480px) {
    .carritoContainer {
        width: 95%;
    }
}

.itemContent{
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
    width: 120px;
    border: solid 3px;
    border-color: #777777;
    border-radius: 10px;
    margin: 5px;
}

.itemPrice{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.totalPriceContainer{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.carritoAvatarInfo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.carritoDataInfo{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.totalPrice{
    width: 220px;
    background-color: #5c0d0d;
    border-radius: 17px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    padding: 10px;
}

.inputsClass {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputButtonCarrito {
    margin-top: 20px;
    background-color: #fff;
    border: solid 3px;
    border-color: #5c0d0d;
    color: #5c0d0d;
    border-radius: 17px;
    min-width: 220px;
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px;
    height: 52px;
    cursor: pointer;
}

.inputButtonCarrito:hover {
    background-color: #5c0d0d;
    color: #fff;
    transition: 0.5s;
}

.inputButtonCarrito:active {
    background-color: #fff;
    border-color: #fff;
    color: #5c0d0d;
}


.divBack{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #5c0d0d;
}

.colorsContentRail {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.pickerItemSpan {
    width: 25px;
    height: 25px;
    border: solid 3px;
    border-radius: 10px;
    border-color: #777777;
    cursor: pointer;
    margin: 5px;
}

.InforUserContainer{
    background-color: #5c0d0d;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.imageAvatarUser{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.divContentInfoDialog{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    color: #fff;
}
.timeDialog{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5c0d0d;
    margin: 10px;
}
@media only screen and (max-width: 480px) {
    .totalPrice {
        width: 100%;
    }
    .inputButtonCarrito{
        width: 100%;
    }

    .InforUserContainer{
        flex-direction: column;
    }
}