<div class="loginMainContent">
    <div class="loginContainer">
        <img src="./assets/logo_big.png" class="loginLogo" alt="logoLogin">
        <p>Login</p>
        <div class="inputsClass">
            <input type="text" [(ngModel)]="email" class="inputClass" placeholder="Email">
            <input type="password" [(ngModel)]="password" class="inputClass" placeholder="Clave">
        </div>
        <div class="inputsClass">
            <button class="inputButton" (click)="logIn()">Ingresar</button>
        </div>
        <div class="linksContainer">
            <a routerLink="/inicio"><p>¿Olvidaste tu clave?</p></a>
            <a routerLink="/registro" class="enlaceScundario"><p>¿No tienes cuenta? <strong>Regístrate aquí</strong></p></a>
        </div>
    </div>
    
</div>