.dialogSectionCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  flex-direction: column;
}
.dialogSectionleft {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  width: 70%;
  flex-direction: column;
}
.previewContent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.previewImg {
  width: 90%;
}

.inputTitle{
  width: 80%;
}

.imagesRail{
  width: 96%;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  overflow-x: auto;
}

.picItemCard{
  height: 140px;
  margin: 10px;
}

.picItemCardEdit{
  height: 140px;
  margin: 10px;
  cursor: pointer;
}

.infoContent{
  width: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.inputClassDialogProduct {
  margin-top: 30px;
  width: 100%;
  background-color: #B489D2;
  height: 32px;
  border-radius: 10px;
  color: #fff;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  padding-left: 10px;
  padding-right: 10px;
  margin: 3px;
}


.inputClassDialogProductArea {
  margin-top: 30px;
  width: 100%;
  background-color: #B489D2;
  height: 64px;
  border-radius: 10px;
  color: #fff;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  padding-left: 10px;
  padding-right: 10px;
  margin: 3px;
}


.inputClassSelect{
  margin-top: 30px;
  width: 100%;
  background-color: #B489D2;
  min-height: 36px;
  border-radius: 10px;
  color: #fff;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  padding-left: 10px;
  padding-right: 10px;
  margin: 3px;
}

.maineditcontent{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-dialog-content{
  height: 90vh;
}