.dialogSectionCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  flex-direction: column;
}
.dialogSectionleft {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  width: 70%;
  flex-direction: column;
}
.previewContent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.previewImg {
  width: 90%;
}

.inputTitle{
  width: 80%;
}

.imagesRail{
  width: 96%;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  overflow-x: auto;
}

.picItemCard{
  height: 140px;
  margin: 10px;
}

.picItemCardEdit{
  height: 140px;
  margin: 10px;
  cursor: pointer;
}

.infoContent{
  width: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.inputClassDialogProduct {
  margin-top: 30px;
  width: 100%;
  background-color: #5c0d0d;
  height: 32px;
  border-radius: 10px;
  color: #fff;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  padding-left: 10px;
  padding-right: 10px;
  margin: 3px;
}


.inputClassDialogProductArea {
  margin-top: 30px;
  width: 100%;
  background-color: #5c0d0d;
  height: 64px;
  border-radius: 10px;
  color: #fff;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  padding-left: 10px;
  padding-right: 10px;
  margin: 3px;
}


.inputClassSelect{
  margin-top: 30px;
  width: 100%;
  background-color: #5c0d0d;
  min-height: 36px;
  border-radius: 10px;
  color: #fff;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  padding-left: 10px;
  padding-right: 10px;
  margin: 3px;
}

.maineditcontent{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-dialog-content{
  height: 90vh;
}

.pickerDivClass{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 11;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  padding: 20px;
}

.PickerSubDiv{
  background-color: #fff;
  padding: 20px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid 3px;
  border-color: #5c0d0d;
}

.buttonPickerClass{
  margin-top: 10px;
  background-color: #5c0d0d;
  color: #fff;
}

.colorsContentRail{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.pickerItemSpan{
  width: 25px;
  height: 25px;
  border: solid 3px;
  border-radius: 10px;
  border-color: #777777;
  cursor: pointer;
  margin: 5px;
}


.tallaButtonView{
  width: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 3px #000000;
  opacity: 0.2;
  margin: 2px;
}
.tallaButtonViewActive{
  width: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 3px #000000;
  margin: 2px;
}
.tallaButtonActive{
  width: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 3px #000000;
  margin: 2px;
  cursor: pointer;
}
.tallaButton{
  width: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 3px #000000;
  opacity: 0.2;
  margin: 2px;
  cursor: pointer;
}

.sizesRailDiv{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

@media only screen and (max-width: 400px) {
  .sizesRailDiv{
      display: inline-block;
  }
}

.advertClass{
  font-size: x-small;
}

.toggleActiveDiv{
  margin: 20px;
}