<h1 mat-dialog-title>{{ this.title }} 
  <button mat-icon-button class="editbutton" *ngIf="data.mode=='view'" (click)="editMode()">
    <mat-icon>edit</mat-icon>
  </button>
</h1>
<mat-dialog-content mat-dialog-content *ngIf="data.mode=='view'">
  <div class="dialogSectionCenter">
    <div class="imagesRail">
      <img *ngFor="let pic of images; let i = index;" class="picItemCard" [src]="pic" [alt]="'dialog_pic_'+i">
    </div>
    <div class="infoContent">
      <p *ngIf="colors.length!=0">Colores disponibles: </p>
      <div *ngIf="colors.length!=0" class="colorsContentRail">
        <span *ngFor="let col of colors; let o = index;" class="pickerItemSpan" [style]="'background-color: '+col"></span>
      </div>
      <p *ngIf="vienePorTallas()">Tallas disponibles:</p>
      <div class="sizesRailDiv" *ngIf="vienePorTallas()">
        <div *ngFor="let size of tallas;" [class]="size.active?'tallaButtonViewActive':'tallaButtonView'">
          {{ size.title }}
        </div>
      </div>
      <p>Estado: {{active?'Activo':'Deshabilitado'}}</p>
      <p>Precio: {{price}}$</p>
      <p>Categoría: {{category.title}}</p>
      <p *ngIf="subcategory">Subcategoría: {{subcategory.title}}</p>
      <p>{{description}}</p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-content mat-dialog-content *ngIf="data.mode=='edit'">
  <div class="maineditcontent">
    <div class="dialogSectionleft">
      <div class="imagesRail">
        <div *ngIf="loadingimgBB" class="picItemCard"><mat-spinner color="accent"></mat-spinner>
        </div>
        <img *ngFor="let pic of images; let e = index;" class="picItemCardEdit" [src]="pic" [alt]="'dialog_edit_pic_'+e" (click)="deleteimage(e)">
      </div>
      <div class="dialogSectionCenter">
        <button mat-button color="primary" type="button" (click)="fileInput.click()">
          <span>Subir imagen</span>
          <input #fileInput type="file" (change)="validateSize($event);" style="display: none"
            accept=".png, .jpg, .jpeg" />
        </button>
      </div>
      <p>Colores disponibles:</p>
      <div class="colorsContentRail">
        <span *ngFor="let col of colors; let o = index;" class="pickerItemSpan" [style]="'background-color: '+col" (click)="removeColor(o)"></span>
      </div>
      <p class="advertClass">Si el producto no viene por colores no indicar ninguno.</p>
      <button mat-button (click)="switchColor()">Seleccionar Color</button>
      <div class="pickerDivClass" *ngIf="pickerFlag">
        <div class="PickerSubDiv">
          <color-chrome [color]="selectedColor" (onChangeComplete)="changeComplete($event)"></color-chrome>
          <button class="buttonPickerClass" color="primary" (click)="setColor()" mat-button>Agregar un Color</button>
        </div>
      </div>
      <p>Tallas disponibles:</p>
      <div class="sizesRailDiv">
        <div *ngFor="let size of tallas;" [class]="size.active?'tallaButtonActive':'tallaButton'" (click)="size.active?size.active=false:size.active=true">
          {{ size.title }}
        </div>
      </div>
      <p class="advertClass">Si el producto no viene por tallas no indicar ninguna.</p>
      <div *ngFor="let talla of tallas;">

      </div>
      <div class="toggleActiveDiv">
        <mat-slide-toggle [(ngModel)]="active">Estado: {{ active?'Activo':'Deshabilitado' }}</mat-slide-toggle>
      </div>
      <input type="text" [(ngModel)]="title" class="inputClassDialogProduct" placeholder="Título">
      <textarea type="text" [(ngModel)]="description" class="inputClassDialogProductArea" placeholder="Descripción del producto">
      </textarea>
      <input type="number" [(ngModel)]="price" class="inputClassDialogProduct" placeholder="Precio">
      <select class="inputClassSelect" [(ngModel)]="selectedCategory" name="" id="">
        <option *ngFor="let cat of categories;" [value]="cat.id">{{cat.title}}</option>
      </select>
      <select *ngIf="getsubcats(selectedCategory)" class="inputClassSelect" [(ngModel)]="selectedSubcategory" name="" id="">
        <option *ngFor="let subcat of categories[catIndex].subcategories;" [value]="subcat.id">{{subcat.title}}</option>
      </select>

    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button> 
  <button mat-button cdkFocusInitial (click)="actualizarproducto()" *ngIf="data.mode=='edit'">Guardar</button>
</mat-dialog-actions>