<div class="mainContentOneProduct" *ngIf="!loaderService.loading">
    <div class="productOneContainer">
        <div class="divBack">
            <button mat-icon-button (click)="back()" class="backButton">
                <mat-icon>navigate_before</mat-icon>
                Volver
            </button>
        </div>
        <div class="titleOneContainer">
            <h3>{{product.title}}</h3>
        </div>
        <div class="productDetails">
            <div class="galleryContent">
                <img [class]="animateAction?'productPicGalleryItem animate__animated '+actualAnimation+' animate__faster':'productPicGalleryItem'"
                    [src]="product.images[actualIndex]" alt="">
                <div>
                    <button mat-icon-button *ngIf="product.images[actualIndex-1]" (click)="volver()">
                        <mat-icon>navigate_before</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="product.images[actualIndex+1]" (click)="siguiente()">
                        <mat-icon>chevron_right</mat-icon>
                    </button>
                </div>
            </div>

            <div class="detailsContainer">
                <p class="textOneProduct">
                    {{product.description}}
                </p>
                <h3 class="textOneProduct">{{ product.price }}$</h3>
                <p *ngIf="product.colors.length!=0">Colores disponibles: </p>
                <div *ngIf="product.colors.length!=0" class="colorsContentRail">
                  <span *ngFor="let col of product.colors; let o = index;" [class]="o==indexcolor?'pickerItemSpanActive':'pickerItemSpan'" [style]="'background-color: '+col" (click)="setSelectedColor(o)"></span>
                </div>
                <p *ngIf="vienePorTallas()">Tallas disponibles:</p>
                <div class="sizesRailDiv" *ngIf="vienePorTallas()">
                  <div *ngFor="let size of product.sizes; let a = index;" [class]="size.active?'tallaButtonActive':'tallaButton'" (click)="setTalla(a)">
                    {{ size.title }}
                  </div>
                </div>
                <div class="counter">
                    <input type="number" (change)="changeQuantity($event)" class="inputClassOneProduct" placeholder="Cantidad" [(ngModel)]="quantity">
                    <button class="inputButtonAddcar" (click)="addToCar(product)">Agregar al carrito</button>
                </div>
            </div>
        </div>
    </div>
    <div class="mainSubinfo">
        <div *ngIf="recommended.length!=0">
            <h4>Tambien podría interesarte</h4>
        </div>
        <div class="productsMainItemRecommended">
            <div class="railproductsRecommended">
                <div *ngFor="let product of recommended"  [routerLink]="['/producto', product.id]">
                    <img class="productPicRecommended" [src]="product.images[0]" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div [class]="themeService.darktheme?'loaderContainerDark':'loaderContainer'" *ngIf="loaderService.loading">
    <mat-spinner color="accent"></mat-spinner>
</div>