<div class="mainContent">
    <div class="railproducts">
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
    </div>
    <div [class]="themeService.darktheme?'categoryDiv categoryTitleDark':'categoryDiv categoryTitle'"><h4>Category</h4></div>
    <div class="railproducts">
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
    </div>
    <div [class]="themeService.darktheme?'categoryDiv categoryTitleDark':'categoryDiv categoryTitle'"><h4>Category</h4></div>
    <div class="railproducts">
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
        <div class="cardProduct">
            <img class="productPic" src="https://i.ibb.co/Rhp72JW/OGS-KLVR-Banner1-2e16d0ba-fill-380x505-c100.jpg" alt="">
        </div>
    </div>
    <div [class]="themeService.darktheme?'categoryDiv categoryTitleDark':'categoryDiv categoryTitle'"><h4>Category</h4></div>
</div>