.productPic {
    width: auto;
    height: 240px;
    border: solid 3px;
    border-color: #B489D2;
    border-radius: 7px;
    margin-left: 5px;
}

.categoryDiv {
    width: 96%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
    padding: 4px;
    margin-top: 10px;
}

.railproducts {
    height: 280px;
    width: 97%;
    overflow-x: auto;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

@media only screen and (max-width: 480px) {
    .productPic {
        width: 88vw;
        height: auto;
    }

    .categoryDiv {
        justify-content: center;
        margin-left: 0;
        padding: 0;
    }
    .railproducts {
        height: auto;
    }
}

.categoryTitle{
    color: #B489D2;
}

.categoryTitleDark{
    color: #fff;
}

.productsMainItem{
    width: 97%;
}