.mainContentHome {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeConteiner {
    width: 70%;
}

.productPic {
    width: auto;
    height: 240px;
    border: solid 3px;
    border-color: #5c0d0d;
    border-radius: 7px;
    margin-left: 5px;
    cursor: pointer;
}

.productPicTemp{
    position: absolute;
    width: auto;
    height: 240px;
    border: solid 3px;
    border-color: #5c0d0d;
    border-radius: 7px;
    margin-left: 5px;
    cursor: pointer;
}

.categoryDiv {
    width: 96%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
    padding: 4px;
    margin-top: 10px;
    cursor: pointer;
}

.railproducts {
    height: 280px;
    width: 97%;
    overflow-x: auto;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}


.categoryTitle {
    color: #5c0d0d;
}

.categoryTitleDark {
    color: #fff;
}

.productsMainItem {
    width: 97%;
}

.SearchBarMain {
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.inputQuerySearch {
    margin-top: 30px;
    width: 80%;
    background-color: #5c0d0d;
    height: 38px;
    border-radius: 10px;
    color: #fff;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
    margin: 3px;
    font-size:16px;
}


.queryButtonDiv {
    width: 20%;
}


.inputButtonSearch {
    background-color: #fff;
    border: solid 3px;
    border-color: #5c0d0d;
    color: #5c0d0d;
    border-radius: 10px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    height: 38px;
    cursor: pointer;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
  }
.inputButtonSearch:hover {
    background-color: #5c0d0d;
    color: #fff;
    transition: 0.5s;
}

.inputButtonSearch:active {
    background-color: #fff;
    border-color: #fff;
    color: #5c0d0d;
}


.divBack{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #5c0d0d;
}

.categoryTitleProducts{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #5c0d0d;
    font-size: large;
    cursor: pointer;
}

.categoryItemList{
    width: 97%;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.itemCategoryCard{
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 160px;
    min-height: 260px;
    border: solid 3px;
    border-color: #5c0d0d;
    border-radius: 7px;
    margin: 3px;
    cursor: pointer;
}

.divPictureCategoryCover{
    width: 100%;
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px 4px 0px 0px;
}


.productCategoryItemInfo{
    margin: 10px;
    color: #5c0d0d;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 95%;
    margin: 5px;
}

.paginator{
    margin-bottom: 70px;
}

@media only screen and (max-width: 480px) {
    .categoryItemList {
        height: auto;
    }
}

.spinnerImage{
    height: 240px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 3px;
    border-color: #5c0d0d;
    border-radius: 7px;
}


@media only screen and (max-width: 480px) {
    .homeConteiner {
        width: 100%;
    }

    .productPic {
        width: 92vw;
        height: auto;
    }

    .spinnerImage{
        width: 92vw;
        height: 400px; 
    }

    .categoryDiv {
        justify-content: center;
        margin-left: 0;
        padding: 0;
    }

    .railproducts {
        height: auto;
        width: 100%;
    }
}