<div class="mainContentCarrito" *ngIf="!loaderService.loading">
    <div class="divBack">
        <button mat-icon-button (click)="back()">
            <mat-icon>navigate_before</mat-icon>
            Volver
        </button>
    </div>
    <div class="carritoContainer">
        <div class="carritoTitle">
            <mat-icon [class]="themeService.darktheme?'menuIconDark itemText':'menuIcon itemText'">shopping_cart</mat-icon>
            <p class="itemText">Mi Carrito</p>
        </div>
        <span class="divider"></span>
        <div class="carritoItem" *ngFor="let itemCar of carritoService.carrito; let i = index;">
            <div class="carritoItemTitle">
                <div class="carritoAvatarInfo">
                    <img class="productPicCarrito" [routerLink]="['/producto', itemCar.id]" [src]="itemCar.images[0]" alt="">
                    <div class="carritoDataInfo">
                        <h4>{{ itemCar.title }}</h4>
                        <p>{{ (itemCar.price).toFixed(2) }}$ c/u</p>
                    </div>
                </div>
                <button mat-icon-button color="accent" (click)="eliminarDeCarrito(i)">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div class="cardProductCarrito">
                <div class="itemContent" *ngFor="let car of itemCar.car;">
                    <p>Cantidad: {{ car.quantity }}</p>
                    <div *ngIf="car.size">
                        Talla: {{car.size.title}}
                    </div>
                    <p *ngIf="car.color">Color: </p>
                    <div *ngIf="car.color" class="colorsContentRail">
                        <span class="pickerItemSpan" [style]="'background-color: '+car.color"></span>
                    </div>
                </div>
            </div>
            <div class="itemPrice">
                <h3>
                    {{(getSubfinalPrice(itemCar)).toFixed(2) }}$
                </h3> 
            </div>
            <span class="divider"></span>
        </div>
        <div class="totalPriceContainer">
            <div class="totalPrice">
                <h3>Total</h3>
                <h3>{{getFinalPrice().toFixed(2)}}$</h3>
            </div>
        </div>
        <div class="inputsClass">
            <button class="inputButtonCarrito" (click)="facturarCarrito()">Concretar Pedido</button>
        </div>
    </div>
</div>
<div [class]="themeService.darktheme?'loaderContainerDark':'loaderContainer'" *ngIf="loaderService.loading">
    <mat-spinner color="accent"></mat-spinner>
</div>