.notFoundClassContent{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.notFoundClassSubcontent{
    margin-top: 90px;
    margin-bottom: 90px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #5c0d0d;
}

.iconMaterial{
    scale: 5;
    margin: 70px;
}